body { 

  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
 }



 .ERROR { 

  position: relative;
  margin: auto;
  height: 0.71em;
  color: transparent;
  font-family: 'Cambay', sans-serif;
  font-size: 10vw;
  font-weight: 700;
  letter-spacing: -0.02em;
  line-height: 1.03em;
  }

  .ERROR > div { 

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: white;
  pointer-events: none;
   }


   .ERROR > div:nth-child(1) { 
   -webkit-mask-image: linear-gradient(black 25%, transparent25%);
   mask-image: linear-gradient(black 25%, transparent 25%);
   animation: ERROR1 5s infinite;
    }

.ERROR > div:nth-child(2) { 

-webkit-mask-image: linear-gradient(transparent 25%, black 25%, transparent 25%);
mask-image: linear-gradient(transparent 25%, black 25%, black 50%, transparent 50%);
animation: ERROR2 5s infinite 
}



.ERROR > div:nth-child(3) {    

  -webkit-mask-image: linear-gradient(transparent 50%, black 50%, black 75%, transparent 75%);
  mask-image: linear-gradient(transparent 50%, black 50%, black 75%, transparent 75%);
  animation: ERROR3 5s infinite;
}

.ERROR > div:nth-child(4) { 

-webkit-mask-image: linear-gradient(transparent 75%, black 75%);
  mask-image: linear-gradient(transparent 75%, black 75%);
  animation: ERROR4 5s infinite;
}


@keyframes ERROR1 {


  0% {
    transform: translateX(100%);
  }
  26% {
    transform: translateX(0%);
  }
  83% {
    transform: translateX(-0.1%);
  }
  100% {
    transform: translateX(-120%);
  }
}


@keyframes ERROR2 {


  0% {
    transform: translateX(100%);
  }
  24% {
    transform: translateX(0.5%);
  }
  82% {
    transform: translateX(-0.2%);
  }
  100% {
    transform: translateX(-125%);
  }
}


@keyframes ERROR3 {


  0% {
    transform: translateX(100%);
  }
  22% {
    transform: translateX(0%);
  }
  81% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-130%);
  }
}


@keyframes ERROR4 {


  0% {
    transform: translateX(100%);
  }
  20% {
    transform: translateX(0%);
  }
  80% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-135%);
  }
}













.mydiv { border-radius: 1px solid black;
-webkit-animation: mymove 5s infinite;
animation: mymove 5s infinite; 
border: 5px solid white;
color: white;
text-align: center;
width: 50%;
margin-left: 25%;
margin-right: 25%;
border-radius: 25px;}

@-webkit-keyframes mymove { 
50% {opacity: 0;}
 }

 @keyframes mymove { 
 50% { opacity: 0; }

  }


  .button { border-radius: 5px; 
    color: white;}

    a { color: black; }